target/
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.iws
*.ipr
.vscode/
.git/
.gitattributes
.gitignore
*.md
__pycache__/
*.pyc
node_modules/
package.json
package-lock.json
playwright.config.js
e2e-tests/
test_api.js
test_api.py
docker-compose.yml
mvnw
mvnw.cmd
